*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: #fff;
	font-family: 'Flamenco', cursive;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/bg1.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.clearfix:after{
	content: '';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.logo{
	height: 50px;
	width: auto;
	float: left;
	margin-top: 20px;
}
.main-nav{
	float: right;
	margin-top: 40px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #00923f;
}
.nav-icon{
	display: none;
}
#menuIcon{
	height: 30px;
}
.main-body{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	color: #fff;
	font-size: 240%;
	font-weight: lighter;
	word-spacing: 4px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.anim{
	animation: animate 2s infinite;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s,color 0.1s;
}
.btn-left{
	background-color: transparent;
	margin-right: 15px;
	color: #00923f;
	border: 1px solid #00923f; 
}
.btn-left:hover{
	color: #fff;
	font-weight: bolder;
	background-color: #00923f;
	text-shadow: 3px 3px 4px #000;
	border: 1px solid #fff;
}
.btn-right{
	background-color: transparent;
	color: #da251e;
	border: 0.5px solid #da251e; 
}
.btn-right:hover{
	color: #fff;
	font-weight: bolder;
	background-color: #da251e;
	text-shadow: 3px 3px 4px #000;
	border: 0.5px solid #fff;
}

.waveTop{
	position: absolute;
	/*top: 56px;*/
	left: 0;
	z-index: 10;
	width: 100%;
	height: 60px;
	background:url(../images/wave1.png);
	animation: wave 4s linear infinite;
	opacity: 0.6;
	bottom: 0;
}
.waveTop:after{
	position: absolute;
	left: 0;
	content: '';
	z-index: 10;
	width: 100%;
	height: 60px;
	background: url(../images/wave1.png);	
	opacity: 0.6;
	animation-delay: -5s;
	animation: wave 8s linear infinite;
}
.waveTop:before{
	position: absolute;
	left: 0;
	content: '';
	z-index: 10;
	width: 100%;
	height: 60px;
	background: url(../images/wave1.png);	
	opacity: 0.6;
	animation-delay: -5s;
	animation: waveRev 8s linear infinite;
}
.section_1{
	background-image: url(../images/menubg.png);
	background-repeat: no-repeat;
	background-position: center 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #000;
}
.container{
	width: 1180px;
	display: inline-flex;
	justify-content: space-between;
}
.container .card{
	position: relative;
	width: 320px;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	overflow: hidden;
}
.container .card:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: calc(-100% + 4px);
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: 0.5s ease-in-out;
}
.container .card:hover:before{
	bottom: 0;
}
.container .card:nth-child(1):before{
	background: #00923f;
}
.container .card:nth-child(2):before{
	background: #da251e;
}
.container .card:nth-child(3):before{
	background: #1bcaff;
}
.container .card div{
	position: relative;
	z-index: 2;
}
.container .card div h2{
	margin-bottom: 15px;
	font-size: 150%;
	transition: 0.5s;
	color: #222;
	display: inline-block;
}
.container .card div p{
	font-size: 90%;
	transition: 0.5s;
	color: #222;
	text-align:justify; 
}
.container .card div a{
	text-decoration: none;
	margin-top: 10px;
	font-size: 70%;
	display: inline-block;
	transition: 0.5s;
	color: #222;
	background: #fff;
	padding: 6px 10px;
	font-weight: 600;
	box-shadow: 0 2px 20px rgba(0,0,0,0.5)
}
.container .card:hover div h2,
.container .card:hover div p{
	color: #fff
}
.container .card:hover div h2{
	text-shadow: 0 2px 20px #000;
}
.navlinks::after{
	content: '';
	display: block;
	height: 4px;
	width: 0;
	margin-top: 5px;
	background: #fff;
	transition: width .7s;
}
.card:hover .navlinks::after {
	width: 100%;
	transition: width .7s;
}